@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}
/*__________________________*/
body{
    font-family: 'Ubuntu', sans-serif;
}
.header{
    max-height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    font-size: 24px;
    color: #6A6FD6;
    font-weight: 700;
    text-align: center;
}
.right-side{
  margin: 15px auto;
  max-width: 100%;
}
.block{
  border-radius: 15px;
  background: url("../imgs/rectangle.png") no-repeat;
}
.btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 10px;
    height: 50px;
    width: 190px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 22px;
    background: radial-gradient(106.56% 100% at 50% 0%, #31E4FA 0%, #2F6CFF 63.3%, rgba(223, 29, 255, 0.89) 100%);
}
a{
  color: white;
}
table{
    color: white;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    border: black 1px solid;
}
td{
    font-size: 24px;
    border-right: black 1px solid;
    border-top: black 1px solid;
}
th{
    border-bottom: black 1px solid;
    border-right: black 1px solid;
}
tbody tr:nth-child(odd){
    background-color: #2F6CFF;
}
tbody tr:nth-child(even){
    background-color: #6A6FD6;
}
thead{
    background-color: black;
}
select{
    font-size: 24px;
    background-color: rgb(218, 218, 218);
    border-radius: 10px;
}
.submit{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 10px;
    height: 50px;
    width: 190px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 22px;
    background: radial-gradient(106.56% 100% at 50% 0%, #31E4FA 0%, #2F6CFF 63.3%, rgba(223, 29, 255, 0.89) 100%);
}
@media only screen and (max-width:450px){
    td{
        font-size: 20px;
    }
    select{
        font-size: 20px;
    }
}
@media only screen and (max-width:350px){
    td{
        font-size: 16px;
    }
    select{
        font-size: 16px;
    }
}
@media only screen and (max-width:280px){
    th{
        font-size: 14px;
    }
    td{
        font-size: 14px;
    }
    select{
        font-size: 14px;
    }
}
