<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель админа</title>
    <link rel="stylesheet" href="css/adminPanel.css">
</head>
<body>
    <div class="panel">
        <div class="header">
            <img src="img/user.png" alt="" class="profile">
            <p class="name">Имя Фамилия</p>
        </div>
        <div class="right-side">
            <div class="block">
            <h1>Панель админа</h1>
            <div class="buttons">
                <div class="btn1"><a href="#">Актуальные заявки</a></div>
                <div class="btn2"><a href="#">Обработанные пользователи</a></div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>
