<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/studentsEdit.css">
</head>
<body>
    <div class="panel">
        <div class="header">
            <div class="btn1"><a href="/adminpanel">Панель админа</a></div>
        </div>
        <div class="right-side">
            <form th:action="@{/editStudents}" th:method="POST" th:object="${student}">
                <table>
                    <thead>
                    <tr>
                        <th>ФИО</th>
                        <th>Номер</th>
                        <th>Группа</th>
                        <th>Специальность</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="student : ${students}">
                        <input type="hidden" th:attr="name='name'" th:value="${student.getName}" />
                        <input type="hidden" th:attr="name='number'" th:value="${student.getNumber}" />
                        <td><span th:text="${student.getName}">ФИО</span></td>
                        <td><span th:text="${student.getNumber}">Номер</span></td>
                        <td><select name="groupe" id="groupe">
                            <option th:each="option : ${options1}" th:value="${option}" th:text="${option}"
                                    th:selected="${option==student.getGroupe}"></option>
                        </select></td>
                        <td><select name="special" id="special">
                            <option th:each="option : ${options}" th:value="${option}" th:text="${option}"
                                    th:selected="${option==student.getSpecial}"></option>
                        </select></td>
                    </tr>
                    </tbody>
                </table>
                <button class="submit">Сохранить</button>
            </form>
        </div>
    </div>
</body>
</html>